<%= content_tag( 'h2', question.heading ) %>


<details>
	<%= content_tag( 'summary', question.safe_tweet_text ) %>
	<table>
		<tbody>
			<tr>
				<%= content_tag( 'td', 'Question ID:' ) %>
				<%= content_tag( 'td', question.question_id ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'UIN:' ) %>
				<%= content_tag( 'td', question.uin ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'House:' ) %>
				<%= content_tag( 'td', question.house ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Date tabled:' ) %>
				<%= content_tag( 'td', question.date_tabled ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Asking Member ID:' ) %>
				<%= content_tag( 'td', question.asking_member_id ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Asking Member display name:' ) %>
				<%= content_tag( 'td', question.asking_member.display_name ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Asking Member handle:' ) %>
				<%= content_tag( 'td', question.asking_member.handle ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Asking Member Twitter reference:' ) %>
				<%= content_tag( 'td', question.asking_member.twitter_reference ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Member interest:' ) %>
				<%= content_tag( 'td', question.member_interest ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Question text:' ) %>
				<%= content_tag( 'td', question.question_text ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Is named day:' ) %>
				<%= content_tag( 'td', question.is_named_day ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Date of holding answer:' ) %>
				<%= content_tag( 'td', question.date_answer_holding ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Date answered:' ) %>
				<%= content_tag( 'td', question.date_answered ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Date answer corrected:' ) %>
				<%= content_tag( 'td', question.date_answer_corrected ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Is holding answer:' ) %>
				<%= content_tag( 'td', question.is_holding_answer ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Is correcting answer:' ) %>
				<%= content_tag( 'td', question.is_correcting_answer ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answering Member ID:' ) %>
				<%= content_tag( 'td', question.answering_member_id ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answering Member display name:' ) %>
				<%= content_tag( 'td', question.answering_member.display_name ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answering Member handle:' ) %>
				<%= content_tag( 'td', question.answering_member.handle ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answering Member Twitter reference:' ) %>
				<%= content_tag( 'td', question.answering_member.twitter_reference ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Correcting Member ID:' ) %>
				<%= content_tag( 'td', question.correcting_member_id ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Correcting Member display name:' ) %>
				<% if question.correcting_member_id -%>
					<%= content_tag( 'td', question.correcting_member.display_name ) %>
				<% else -%>
					<td></td>
				<% end -%>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Correcting Member handle:' ) %>
				<% if question.correcting_member_id -%>
					<%= content_tag( 'td', question.correcting_member.handle ) %>
				<% else -%>
					<td></td>
				<% end -%>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Correcting Member Twitter reference:' ) %>
				<% if question.correcting_member_id -%>
					<%= content_tag( 'td', question.correcting_member.twitter_reference ) %>
				<% else -%>
					<td></td>
				<% end -%>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answer text:' ) %>
				<%= content_tag( 'td', question.answer_text ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Original answer text:' ) %>
				<%= content_tag( 'td', question.original_answer_text ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Comparable answer text:' ) %>
				<%= content_tag( 'td', question.comparable_answer_text ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answering body ID:' ) %>
				<%= content_tag( 'td', question.answering_body_id ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answering body name:' ) %>
				<%= content_tag( 'td', question.answering_body_name ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Tweeted:' ) %>
				<%= content_tag( 'td', question.tweeted ) %>
			</tr>
		</tbody>
	</table>
</details>



