<%= content_tag( 'h2', answer.heading ) %>


<details>
	<%= content_tag( 'summary', answer.safe_tweet_text ) %>
	<table>
		<tbody>
			<tr>
				<%= content_tag( 'td', 'Question ID:' ) %>
				<%= content_tag( 'td', answer.question_id ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'UIN:' ) %>
				<%= content_tag( 'td', answer.uin ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'House:' ) %>
				<%= content_tag( 'td', answer.house ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Date tabled:' ) %>
				<%= content_tag( 'td', answer.date_tabled ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Asking Member ID:' ) %>
				<%= content_tag( 'td', answer.asking_member_id ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Asking Member display name:' ) %>
				<%= content_tag( 'td', answer.asking_member.display_name ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Asking Member handle:' ) %>
				<%= content_tag( 'td', answer.asking_member.handle ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Asking Member Twitter reference:' ) %>
				<%= content_tag( 'td', answer.asking_member.twitter_reference ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Member interest:' ) %>
				<%= content_tag( 'td', answer.member_interest ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Question text:' ) %>
				<%= content_tag( 'td', answer.question_text ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Is named day:' ) %>
				<%= content_tag( 'td', answer.is_named_day ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Date of holding answer:' ) %>
				<%= content_tag( 'td', answer.date_answer_holding ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Date answered:' ) %>
				<%= content_tag( 'td', answer.date_answered ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Date answer corrected:' ) %>
				<%= content_tag( 'td', answer.date_answer_corrected ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Is holding answer:' ) %>
				<%= content_tag( 'td', answer.is_holding_answer ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Is correcting answer:' ) %>
				<%= content_tag( 'td', answer.is_correcting_answer ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answering Member ID:' ) %>
				<%= content_tag( 'td', answer.answering_member_id ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answering Member display name:' ) %>
				<%= content_tag( 'td', answer.answering_member.display_name ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answering Member handle:' ) %>
				<%= content_tag( 'td', answer.answering_member.handle ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answering Member Twitter reference:' ) %>
				<%= content_tag( 'td', answer.answering_member.twitter_reference ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Correcting Member ID:' ) %>
				<%= content_tag( 'td', answer.correcting_member_id ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Correcting Member display name:' ) %>
				<% if answer.correcting_member_id -%>
					<%= content_tag( 'td', answer.correcting_member.display_name ) %>
				<% else -%>
					<td></td>
				<% end -%>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Correcting Member handle:' ) %>
				<% if answer.correcting_member_id -%>
					<%= content_tag( 'td', answer.correcting_member.handle ) %>
				<% else -%>
					<td></td>
				<% end -%>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Correcting Member Twitter reference:' ) %>
				<% if answer.correcting_member_id -%>
					<%= content_tag( 'td', answer.correcting_member.twitter_reference ) %>
				<% else -%>
					<td></td>
				<% end -%>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answer text:' ) %>
				<%= content_tag( 'td', answer.answer_text ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Original answer text:' ) %>
				<%= content_tag( 'td', answer.original_answer_text ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Comparable answer text:' ) %>
				<%= content_tag( 'td', answer.comparable_answer_text ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answering body ID:' ) %>
				<%= content_tag( 'td', answer.answering_body.mnis_id ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answering body name:' ) %>
				<%= content_tag( 'td', answer.answering_body.name ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Tweeted:' ) %>
				<%= content_tag( 'td', answer.tweeted ) %>
			</tr>
		</tbody>
	</table>
</details>



