<table class="table key-value">
	<tbody>
		<tr>
			<%= content_tag( 'td', 'Heading' ) %>
			<% if @answer.heading -%>
				<%= content_tag( 'td', @answer.heading ) %>
			<% else -%>
				<td></td>
			<% end -%>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Tabled in' ) %>
			<%= content_tag( 'td', "House of #{@answer.house}" ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Tabled on' ) %>
			<%= content_tag( 'td', @answer.date_tabled.strftime( $DATE_DISPLAY_FORMAT ) ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Tabled by' ) %>
			<%= content_tag( 'td', @answer.asking_member.display_name ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Question type' ) %>
			<%= content_tag( 'td', @answer.question_type ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Interest declared' ) %>
			<%= content_tag( 'td', @answer.member_interest ) %>
		</tr>
		<% if @answer.is_correcting_answer -%>
			<tr>
				<%= content_tag( 'td', 'Corrected on' ) %>
				<%= content_tag( 'td', @answer.date_answer_corrected.strftime( $DATE_DISPLAY_FORMAT ) ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Corrected by' ) %>
				<%= content_tag( 'td', @answer.correcting_member.display_name ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Corrected on behalf of' ) %>
				<%= content_tag( 'td', link_to( @answer.answering_body.name, answering_body_show_url( :answering_body => @answer.answering_body.mnis_id ) ) ) %>
			</tr>
		<% else -%>
			<tr>
				<%= content_tag( 'td', 'Answered on' ) %>
				<%= content_tag( 'td', @answer.date_answered.strftime( $DATE_DISPLAY_FORMAT ) ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answered by' ) %>
				<%= content_tag( 'td', @answer.answering_member.display_name ) %>
			</tr>
			<tr>
				<%= content_tag( 'td', 'Answered on behalf of' ) %>
				<%= content_tag( 'td', link_to( @answer.answering_body.name, answering_body_show_url( :answering_body => @answer.answering_body.mnis_id ) ) ) %>
			</tr>
		<% end -%>
		<tr>
			<%= content_tag( 'td', 'UIN' ) %>
			<%= content_tag( 'td', @answer.uin ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Posted' ) %>
			<%= content_tag( 'td', @answer.tweeted ) %>
		</tr>
	</tbody>
</table>