<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<%= render :partial => 'library_design/head/head' %>
		<%= tag( 'base', :href => 'https://api.parliament.uk/written-answers' ) if Rails.env.production? %>
	</head>
	<body class="section-<%= @section %> subsection-<%= @subsection %> brand-bicameral">
		<%= render 'layouts/header/header' %>
		<main class="block block-page" id="main-content">
			<div class="inner-content container">
				<%= render 'library_design/debug/debug' -%>
				<h1><%= @multiline_page_title || @page_title || $SITE_TITLE %></h1>
				<%= yield %>
			</div>
		</main>
		<%= render 'layouts/footer/footer' %>
	</body>
</html>