<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<%= render :partial => 'library_design/head/head' %>
		<%= tag( 'base', :href => 'https://api.parliament.uk/written-answers' ) if Rails.env.production? %>
	</head>
	<body class="section-<%= @section %> subsection-<%= @subsection %> brand-bicameral">
		<%= render :partial => 'layouts/header/header' %>
		<main class="container block block-page" id="main-content">
			<h1><%= @multiline_page_title || @page_title || $SITE_TITLE %></h1>
			<%= yield %>
		</main>
		<%= render 'library_design/footer' %>
	</body>
</html>